{% extends 'main.html.twig' %}

{% block title %}{{ trailers | length }} iTunes Movie trailers{% endblock %}

{% block content %}
    <div class="container">
        detail
        {# <div>текущее время и дата: {{ "now"|date("c") }}</div>
        <div>название класса контроллера, который отвечает за отображение этой страницы: {{ class_name }}</div>
        <div>название метода контроллера, который отправляет данные на эту страницу: {{ method_name }}</div> #}
        {# <h1 class="mt-5 mb-4">{{ trailers | length }} iTunes Movie trailers</h1> #}
        {# <table class="table table-bordered">
            {% for trailer in trailers|slice(0, 10) %}
                <tr>
                    <td>{{ trailer.title }}</td>
                    <td>{{ trailer.link }}</td>
                    <td>{{ trailer.image }}</td>
                </tr>
            {% endfor %}
        </table> #}
    </div>
{% endblock %}
