{% extends 'main.html.twig' %}

{% block title %}{{ trailers | first.title }}{% endblock %}

{% block content %}
    <div class="container">
        <h1>{{ trailers | first.title }}</h1>
        <br>
        <div>
            <img src={{ trailers | first.image }}>
        </div>
        <br>
        <div>
            <p>{{ trailers | first.description }}</p>
        </div>
        <br>
        <div>
            <a href={{ trailers | first.link }} target=blank>Источник</a>
        </div>
        <br>  
        <div>
            <a href="/">Вернуться назад</a>
        </div>
    </div>
{% endblock %}
